<Layouts.app
  flash={@flash}
  current_player={@current_player}
  current_hero={@current_hero}
  sidebar_code={@sidebar_code}
>
  <div class="training">
    <.training_shell
      pending_battle={@pending_battle}
      hero_dead={dead?(@current_hero)}
      show_farm_tabs={display_farm_tabs?(assigns)}
      farm_tab={@farm_tab}
    >
      <:pending>
        <.pending_battle battle={@pending_battle} />
      </:pending>
      <:header>
        <.header current_hero={@current_hero} current_player={@current_player} />
      </:header>
      <:dead>
        <.dead current_hero={@current_hero} />
      </:dead>
      <:farm_tabs>
        <.farm_tabs current_hero={@current_hero} farm_tab={@farm_tab} />
      </:farm_tabs>
      <:meditation>
        <.meditation
          current_hero={@current_hero}
          selected_turns={@selected_turns}
          current_time={@current_time}
          farm_rewards={@farm_rewards}
        />
      </:meditation>
      <:mine>
        <.mine
          current_hero={@current_hero}
          selected_turns={@selected_turns}
          current_time={@current_time}
          farm_rewards={@farm_rewards}
        />
      </:mine>
      <:gank>
        <.gank current_hero={@current_hero} targets={@targets} />
      </:gank>
    </.training_shell>
  </div>

  <.hero_bar
    current_hero={@current_hero}
    show_build={@show_build}
    show_shop={@show_shop}
    editing={@editing}
    tutorial_step={@tutorial_step}
  />

  <.live_component module={MobaWeb.V2.TutorialComponent} step={@tutorial_step} id="tutorial-step" />
</Layouts.app>
