<.battle_result_header title={battle_result(@battle)}>
  <.duel_reward_badges duel={@battle.duel} />
</.battle_result_header>
<%= if @current_player do %>
  <.battle_action_row class="pt-1 mt-1">
    <.battle_nav_action
      navigate={~p"/arena/#{@battle.duel_id}"}
      class="btn btn-outline-primary btn-lg btn-block text-white"
      id="load-battles"
      icon="fa fa-play"
      label="Continue"
    />
  </.battle_action_row>
<% else %>
  <.battle_action_row>
    <div class="col">
      <.battle_guest_create_action
        class="btn btn-danger btn-block btn-lg"
        icon="fa fa-user-plus"
        label="Create your Hero"
      />
    </div>
  </.battle_action_row>
<% end %>
