<!DOCTYPE html>
<html lang="en">
    <%=render "_head.html", conn: @conn, current_hero: nil%>
    <body>
        <%= render "_navigation.html", conn: @conn, current_user: @current_user, clean: true%>
        <div class="wrapper" id="main-wrapper">
            <div class="container-fluid" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col-12">
                    <%= if get_flash(@conn, :info) do %>
                        <div class="alert alert-info bg-light-shadow text-info text-center">
                            <i class="fa fa-info-circle"></i> <%= get_flash(@conn, :info)%>
                        </div>
                    <% end %>
                    <%= @inner_content %>
                    </div>
                </div>
            </div>
        </div>
        <%= csrf_meta_tag() %>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>