<%= if non_guest?(assigns), do: live_render(@socket, MobaWeb.CurrentUserLiveView, id: "current-user") %>

<%= if show_sidebar?(assigns) do %>
    <%= live_component(MobaWeb.Sidebar, assigns) %>
<% else %>
    <%= @inner_content %>
<% end %>
