<%= if assigns[:current_user] && not assigns[:current_user].is_guest do %>
    <div class="row">
        <%= unless assigns[:hide_sidebar] do %>
            <div class="col-1">
                <%= render "_navigation.html", assigns %>
            </div>
        <% end %>
        <div class="col">
            <%= @inner_content %>
        </div>
    </div>
<% else %>
    <%= @inner_content %>
<% end %>
