<!DOCTYPE html>
<html lang="en">
    <%= render "_head.html", assigns %>
    <body>
        <%= if is_nil(assigns[:current_user]) || assigns[:current_user].is_guest do %>   
            <%= render "_guest_navigation.html", assigns %>
        <% end %>
        <div class="wrapper" id="main-wrapper">
            <div class="container-fluid">
                <%= @inner_content %>
            </div>
        </div>
        <%= csrf_meta_tag() %>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
