<!DOCTYPE html>
<html lang="en">
    <%= render "_head.html", conn: @conn %>
    <body>
        <div class="wrapper" id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <%= unless assigns[:hide_sidebar] do %>
                        <div class="col-1">
                            <%= render "_navigation.html", assigns %>
                        </div>
                    <% end %>
                    <div class="col">
                        <%= @inner_content %>
                    </div>
                </div>
            </div>
        </div>
        <%= csrf_meta_tag() %>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
