<html>
  <head>
    <title>Admin - Browser MOBA</title>
    <!-- Uncomment to just use the bare bones torch styles rather than the theme -->
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/base.css") %>">-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/theme.css") %>">
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/league_5.png") %>" />
  </head>

  <body class="<%= Torch.PageView.body_classes(@conn) %>">
    <header>
      <%# <section id="torch-account-info">
        <div class="torch-container">
          <a href="/">user@infinite.red</a>
          <a href="/">Logout</a>
        </div>
      </section> %>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Game</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <a href="/admin/skills?sort_direction=desc&sort_field=enabled">
              <h3>Skills</h3>
            </a>
            <a href="/admin/items?sort_direction=desc&sort_field=enabled">
              <h3>Items</h3>
            </a>
            <a href="/admin/avatars?sort_direction=desc&sort_field=enabled">
              <h3>Avatars</h3>
            </a>
            <a href="/admin/skins">
              <h3>Skins</h3>
            </a>
            <a href="/admin/users?_utf8=✓&filters%5B%5D=user%5Busername_contains%5D&filters%5B%5D=user%5Bemail_contains%5D&user%5Bis_bot_equals%5D=false&filters%5B%5D=user%5Blevel_equals%5D&filters%5B%5D=user%5Bexperience_equals%5D&user%5Bis_guest_equals%5D=false">
              <h3>Users</h3>
            </a>
            <a href="/admin/dashboard">
              <h3>Phx Dashboard</h3>
            </a>
            <a href="/admin/matches">
              <h3>Matches</h3>
            </a>
            <a href="/admin/matches/current">
              <h3>Current Match</h3>
            </a>
          </nav>
        </div>
      </section>
    </header>

    <%= Torch.FlashView.render("_flash_messages.html", assigns) %>
    <%= @inner_content %>
    <script src="<%= Routes.static_path(@conn, "/torch/torch.js") %>"></script>
  </body>
  <style>
    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    .table th{
      padding: 0.75rem;
      vertical-align: middle;
      border-top: 1px solid #eceeef;
      font-weight: bold;
    }
    .table td {
      padding: 0.1rem 0.75rem;
      vertical-align: middle;
      border-top: 1px solid #eceeef;
    }

    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #eceeef;
    }

    .table tbody + tbody {
      border-top: 2px solid #eceeef;
    }

    .table .table {
      background-color: #fff;
    }

    .table-sm th,
    .table-sm td {
      padding: 0.3rem;
    }

    .table-bordered {
      border: 1px solid #eceeef;
    }

    .table-bordered th,
    .table-bordered td {
      border: 1px solid #eceeef;
    }

    .table-bordered thead th,
    .table-bordered thead td {
      border-bottom-width: 2px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .table-hover tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-active,
    .table-active > th,
    .table-active > td {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-success,
    .table-success > th,
    .table-success > td {
      background-color: #dff0d8;
    }

    .table-hover .table-success:hover {
      background-color: #d0e9c6;
    }

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
      background-color: #d0e9c6;
    }

    .table-info,
    .table-info > th,
    .table-info > td {
      background-color: #d9edf7;
    }

    .table-hover .table-info:hover {
      background-color: #c4e3f3;
    }

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
      background-color: #c4e3f3;
    }

    .table-warning,
    .table-warning > th,
    .table-warning > td {
      background-color: #fcf8e3;
    }

    .table-hover .table-warning:hover {
      background-color: #faf2cc;
    }

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
      background-color: #faf2cc;
    }

    .table-danger,
    .table-danger > th,
    .table-danger > td {
      background-color: #f2dede;
    }

    .table-hover .table-danger:hover {
      background-color: #ebcccc;
    }

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
      background-color: #ebcccc;
    }

    .thead-inverse th {
      color: #fff;
      background-color: #292b2c;
    }

    .thead-default th {
      color: #464a4c;
      background-color: #eceeef;
    }

    .table-inverse {
      color: #fff;
      background-color: #292b2c;
    }

    .table-inverse th,
    .table-inverse td,
    .table-inverse thead th {
      border-color: #fff;
    }

    .table-inverse.table-bordered {
      border: 0;
    }

    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive.table-bordered {
      border: 0;
    }
  </style>
</html>

