<div class="col-4 col-md-4 mb-2 d-flex justify-content-center">
  <img src="<%=GH.image_url(@item)%>" data-toggle="tooltip" title="<%=GH.item_description(@item)%>" class="item-img code-<%=@item.code%> tooltip-mobile <%=if @item.active, do: "active"%>" phx-click="select-shop" phx-value-code="<%=@item.code%>" phx-target="#shop" id="item-<%=@item.id%>" />
</div>