<div class="flex min-h-screen">
  <.sidebar
    current_player={assigns[:current_player]}
    current_hero={assigns[:current_hero]}
    sidebar_code={assigns[:sidebar_code]}
  />

  <main class="flex-1 overflow-y-auto">
    <div class="max-w-6xl mx-auto px-6 py-6">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
