<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>BrowserMOBA v2</title>
    <link rel="stylesheet" href={~p"/v2/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/v2/assets/app.js"}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
