<div class="col-12 col-md-3 info-box <%=@extra_classes%> border-top border-bottom">
    <div class="text-center">
        <h3 class="text-success">Weak Targets</h3>
        <p class="text-dark">
            <em>Easiest to kill, lowest rewards. Good for farming win streaks.</em>
        </p>
        <p>
            <h4>Rewards (Victory/Draw)</h4>
            <%=reward_badges_for(@current_hero, "weak")%>
        </p>
    </div>
</div>