/* This file is for your main application css. */

@import "./template/bootstrap.css";
@import "./template/app.css";

@import "./jungle.scss";
@import "./arena.scss";
@import "./match.scss";
@import "./create.scss";
@import "./battles.scss";
@import "./shop.scss";
@import "./user.scss";
@import "./tavern.scss";
@import "./shared.scss";

@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/shepherd.js/dist/css/shepherd.css";

@font-face {
  font-family: bravadaArma;
  src: url("/static/fonts/bravada-arma.ttf");
}

body{
  background: #272E35;
}

.modal-backdrop{
  background: black;
}

.phx-click-loading{
  opacity: 1;
}

.progress-bar{
  min-width: 10%;
}

.black-bar{
  background: #38414a;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
  box-shadow: inset 0px 0px 300px black;
}

.shepherd-content{
  background: #38414a;
  border: 2px solid;
  border-color: white;
  box-shadow: inset 0px 0px 300px black;
  border-radius: 0;
  z-index: 999999;

  .shepherd-header{
    display: block;
    float: right;
  }

  .shepherd-text{
    color: white;
  }
}

.swal-modal{
  background: #38414a;
  border: 3px solid;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
  box-shadow: inset 0px 0px 300px black;

  .swal-title{
    color: #ee324d;
  }

  .swal-text{
    color: white;
  }

  .swal-button-container{
    display: block;
  }

  .challenge-button:hover{
    color: #fff;
    background-color: #ee324d !important;
    border-color: #ed2643 !important;
  }

  .swal-button:hover{
    background-color: inherit;
  }
}

.table td{
  vertical-align: middle;
}

#topnav {
  background: rgba(54, 64, 74, 0.5);
  // background: linear-gradient(to right, rgba(0,0,0,0), rgba(54, 64, 74, 0.15));
  position: inherit;
  border-bottom: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid;
  border-image-source: radial-gradient(white, #2f3c4a);
  border-image-slice: 1;

  .nav-link{
    float: left;
    color: white;
    font-weight: bold;
  }

  .game-nav{
    i{
      font-size: 1.5rem;
    }

    .nav-link{
      padding-top: 1rem;
    }
  }

  .container-fluid{
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }

  @media (max-width: 767.98px) {
    padding: 0;
    border: 0;
    border-bottom: 1px solid;
    border-image-source: radial-gradient(white, rgb(47, 60, 74));
    border-image-slice: 1;

    .container-fluid{
      padding: 0;
    }
  }

  .topbar-menu{
    margin-top: 0px;
  }
}

#main-wrapper > .container-fluid{
  // margin-right: 0;
  // margin-left: 0;
  max-width: 100%;
  // padding: 0;
}

.wrapper {
  padding-top: 0px; //5px
  overflow-y: hidden;
}

.content-with-hero-bar{
  margin-bottom: 150px;

  @media (max-width: 992px) {
    margin-bottom: 220px;
  }
}

.clean-container{
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.center{
  text-align: center;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.card-box{
  background-color: rgba(54, 64, 74, 0.8);
}

.card-footer{
  background-color: rgba(54, 64, 74, 0.8);
}

.card-border{
  border: 1px solid #36404a;
  background-clip: border-box;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.margin-auto{
  margin: auto;
}

.no-action{
  cursor: default !important;
}

.action-cursor{
  cursor: pointer !important;
}

.no-wrap{
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.flex-column{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.btn-group button{
  cursor: default;
}

.btn-group button:hover{
  background: none;
}

.btn-group-vertical button:hover{
  background: none;
}

b, strong {
  font-weight: bolder !important;
}

.badge-light-purple{
  color: #837ad6 !important;
}

.league-rank{
  max-height: 50px;
}

.league-logo{
  height: 20px;
}

.avatar{
  border-radius:4px;
  max-width: 120px;
}

.avatar-container{
  display: inline-block;
  vertical-align: middle;
  position: relative;

  .avatar{
    vertical-align: middle;
  }

  .medals{
    position: absolute;
    top: 61px;
    right: 3px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: #424e5a;
    padding: 0 5px;
  }
}

.title-container{
  text-align: center;

  i{
    font-size: 3rem;
  }
}

@media (max-width: 1198.98px) {
  .avatar{
    max-width: 100px;
  }
}

.passive{
  border-color: black !important;
  border-image-source: none !important;
}

.item-img.passive{
  border-color: rgba(26,32,39,1) !important;
  border-image-source: none !important;
}

.simple-border{
  border: 1px solid #36404a;
}

.img-border{
  border: 3px solid;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
}

.img-border-sm{
  border: 2px solid;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
}

.img-border-xs{
  border: 1px solid;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
}

.btn-outline-dark{
  border: 1px solid;
  border-image-source: radial-gradient(white, rgb(47, 60, 74));
  border-image-slice: 1;
}

.tooltip-cursor{
  cursor: context-menu !important;
}

.bg-warning-light{
  background-color: #fbdba5 !important;
}

.bg-danger-dark{
  background-color: rgba(241, 85, 108, 0.2) !important;
  color: #f1556c !important;
}

.bg-info-dark{
  background-color: rgba(59, 175, 218, 0.2) !important;
  color: #3bafda !important;
}

.bg-success-dark{
  background-color: rgba(26, 188, 156, 0.2) !important;
  color: #1abc9c !important;
}

.bg-light{
  background-color: rgba(73,85,97, 0.4) !important;
  box-shadow: 0 0 15px #bbb;
  font-size: 1.5rem;
  border-width: 3px;
}

.bg-light-dark{
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-offense{
  background-color: #F672A7;
}

.text-offense{
  color: #F672A7;
}

.bg-defense{
  background-color: #F4825D;
}

.text-defense{
  color: #F4825D;
}

.text-league-0{
  color: rgb(219, 175, 131) !important;
}

.text-league-1{
  color: rgb(150, 150, 150) !important;
}

.text-league-2{
  color: rgb(206, 163, 0) !important;
}

.text-league-3{
  color: rgb(237, 237, 237) !important;
}

.text-league-4{
  color: rgb(148, 203, 235) !important;
}

.text-league-5{
  color: rgb(22, 224, 252) !important;
}

.text-league-6{
  color: rgb(241, 151, 18) !important;
}

.text-medal-0{
  color: rgb(154, 221, 101);
}

.text-medal-1{
  color: rgb(159, 116, 81);
}

.text-medal-2{
  color: rgb(43, 151, 150);
}

.text-medal-3{
  color: rgb(197, 195, 189);
}

.text-medal-4{
  color: rgb(196, 156, 74);
}

.text-medal-5{
  color: rgb(171, 61, 190);
}

.text-medal-6{
  color: rgb(123, 141, 212);
}

.text-medal-7{
  color: rgb(213, 96, 78);
}


.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.hero-card{
  background-color: initial !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;

  .card-header{
    background-color: rgba(54, 64, 74, 0.8);
  }

  .league-logo{
    margin-top: -4px;
  }

  .level{
    font-size: 0.8rem;
  }

  .skills-container{
    width: 70%;
    float:left;
    max-height: 90px;

    @media (max-width: 999.98px) {
      width: 60%;
      height: 55px;
    }
  }

  .skill-img.passive{
    border-color: #36404a !important;
    border-width: 0.4rem !important;
  }

  .skill-img{
    width: 25%;
    border: 0.2rem solid #36404a;
  }

  .items-container{
    width: 30%;
    float: left;
    // box-shadow: inset 0px 0px 60px black;
    height: 100%;
    border: .2rem solid #36404a;
    border-right: 0;
    border-bottom: 0;

    @media (max-width: 999.98px) {
      width: 40%;
    }
  }
  .item-container{
    max-height: 43px;
  }
  .item-img{
    width: 100%;
    height: 100%;
    border: 0.1rem solid #36404a;
  }

  .item-img.passive{
    border-color: #36404a !important;
    border-width: 0.1rem !important;
  }

  .skill-list{
    margin: 3px 0;
  }

  .item-list{
    margin: 3px 0;
  }
}
