.arena{

  @keyframes shadow {
    0% {
      box-shadow: inset 0px 0px 20px black;
    }
    50% {
      box-shadow: inset 0px 0px 35px black;
    }
    100% {
      box-shadow: inset 0px 0px 20px black;
    }
  }

  .shadow-fx{
    animation: 2s shadow infinite;
  }

  .shadow-fx:hover{
    color: white !important;
  }

	.btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }
  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }
  .btn-warning {
    color: #f7b84b;
    background: rgba(247, 184, 75, 0.2) !important;
  }

	.pvp-tier-container{
    line-height: 6.5rem;
  }

  .manual-bar{
    background: rgba(59,175,218, 0.8) !important;
    min-width: 0%;
  }

  .auto-bar{
    background: rgba(59,175,218, 0.2) !important;
    min-width: 0%;
  }

  .pvp-rank{
    height: 110px;
    margin-bottom: 10px;
  }

  .matchmaking-button{
    .badge{
      font-size: 0.7rem;
    }
  }

  #pvp-progression{
    .info-box{
      text-align: center;
      line-height: 0.8;
      border: 1px solid;
      padding: 1rem;
      margin: -2px;

      small{
        font-size: 0.9rem;
      }
    }
    .btn{
      background: 0;
    }
  }

	.matchmaking{
    overflow: hidden;

    .avatar{
      max-height: 25px;
    }

    h5{
      margin: 0;
    }

    .history{
    	max-height: 53vh;
    	overflow: auto;

      h4{
        margin: 0;
      }
    }

    
  }

  .ranking{
    padding: 0;
    max-height: 65vh;

    .card-body{
      padding: 0;
      overflow: auto;

      thead th {
        position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
        position: sticky;
        top: 0;
        z-index: 1;
        background: #414d59;
        border-top: 0;
        padding: 0.7rem;
      }

      tfoot th{
        position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
        position: sticky;
        bottom: 0;
        z-index: 1;
        background: #3a454f;
        border-top: 0;
        padding: 0.75rem;
        vertical-align: middle;
      }
    }

    .pvp-rank{
      max-height: 50px;
    }
  }

  .duels {
    overflow: hidden;

    .avatar{
      max-height: 25px;
    }

    h5{
      margin: 0;
    }

    .history{
      max-height: 53vh;
      overflow: auto;

      h4{
        margin: 0;
      }
    }
  }
}
