.dashboard{

  .pve-bar{
    background: rgba(26, 188, 156, 0.7) !important;
  }

  .pvp-bar{
    background: rgba(241,85,108, 0.8) !important;
  }

  .pve-tier-container{
    line-height: 7rem;
  }

  .pvp-tier-container{
    line-height: 6.5rem;
  }

  .collection{
    max-width: 1200px;
    margin: auto;

    .avatar{
      max-width: 100%;
    }
    .blank-avatar{
      filter: grayscale(100%);
    }
    .league-logo{
      max-width: 25px;
      height: auto;
      margin-top: -30px
    }
  }

  .pve-header.link{
    cursor: pointer;
  }
  .pve-header.link:hover{
    background-color: #333c44 !important;
  }

  .btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }
  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }
  .btn-warning {
    color: #f7b84b;
    background: rgba(247, 184, 75, 0.2) !important;
  }
  .btn-danger {
    color: #f1556c;
    background: rgba(241,85,108, 0.2) !important;
  }

  .hero-list{
    .skill-img{
      width:23%;
      max-width: 80px;
      margin: 1px;
    }

    .item-img{
      width: 14%;
      margin: 1px;
      background: black;
    }

    .avatar{
      max-width: 150px;
      width: 100%;
    }

    .skill-container{
      width: 100%;
      margin-bottom: 0.5rem;

      img{
        width: 25%;
        margin: 0;
      }
    }

    .item-container{
      width: 100%;

      img{
        width: 16.5%;
      }
    }

    .league-logo{
      width: 40px;
      height: auto !important;
    }

  }

  .half-fixed-panel{
    height: 220px;
  }

  .mid-fixed-panel{
    max-height: 385px;
  }

  .fixed-panel{
    height: 640px;
  }

  .pve-rank{
    width: 100px;
  }

  .user-rank{
    width: 100px;
  }

  .hero-card{
    .rewards{
      background-color: rgba(54, 64, 74, 0.8);
      float: right;
      padding: 0px 20px;
      border-bottom-left-radius: 10px;
    }
  }
}

