.dashboard{

  .btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }
  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }
  .btn-warning {
    color: #f7b84b;
    background: rgba(247, 184, 75, 0.2) !important;
  }
  .btn-danger {
    color: #f1556c;
    background: rgba(241,85,108, 0.2) !important;
  }

  .hero-list{
    .skill-img{
      width:23%;
      max-width: 80px;
      margin: 1px;
    }

    .item-img{
      width: 14%;
      margin: 1px;
      background: black;
    }

    .avatar{
      max-width: 150px;
      width: 100%;
    }

    .skill-container{
      width: 100%;
      margin-bottom: 0.5rem;

      img{
        width: 25%;
        margin: 0;
      }
    }

    .item-container{
      width: 100%;

      img{
        width: 16.5%;
      }
    }

    .league-logo{
      width: 40px;
      height: auto !important;
    }

  }


  .fixed-panel{
    height: 640px;
  }

  .user-rank{
    width: 100px;
  }

  .hero-card{
    .rewards{
      background-color: rgba(54, 64, 74, 0.8);
      float: right;
      padding: 0px 20px;
      border-bottom-left-radius: 10px;
    }
  }
}

