.wrapper-jungle::after{
  content: "";
  // background: url('/images/jungle.jpg');
  // opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  box-shadow: inset 0px 0px 300px 50px black;
  background: #07382E;
  opacity: 1
}

@keyframes league-glow {
  0% {
    color: rgba(241,85,108, 0.2);
    box-shadow: 0 0 5px 0 rgba(241,85,108, 0.2);
  }
  100% {
    color: rgba(241,85,108, 1);
    box-shadow: 0 0 20px 10px rgba(241,85,108, 1);
  }
}

.jungle{
  margin-bottom: 180px;
  @media (max-width: 992px) {
    margin-bottom: 220px;
  }

  .league-challenge{
    animation: 1s league-glow infinite;
  }

  .btn {
    background: 0 !important;
  }

  .btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }

  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }

  .btn-danger {
    color: #f1556c;
    background: rgba(241,85,108, 0.2) !important;
  }

  .card-box{
    background-color: rgba(54, 64, 74, 0.3);
    padding: 0;
    margin-bottom: 3rem;
  }
  .card-border{
    padding: 1rem 0.5rem;
    // border-top:0;
    // border-bottom:0;
    border: 0;
    border-radius: 0;
    @media (max-width: 999.98px) {
      // border-top: 1px solid #36404a;
      border-bottom: 1px solid #36404a;
      border-left: 0;
      border-right: 0;
    }
  }
  .info-box{
    // border: 1px solid #36404a;
    // border-top: 0;
    // border-bottom: 0;
  }

  .target{
    background-color: initial !important;

    .avatar{
      width: 150px;
      max-width: 150px;
    }

    .skill-img{
      margin: .5px;
      width: 75px;
    }

    .item-img{
      width: 55px;
      background: black;
    }

    @media (max-width: 1400px) {
      .avatar{
        width: 100px;
      }

      .skill-img{
        margin: .5px;
        width: 65px;
      }
      .item-img{
        width: 45px;
      }
    }

    .skill-list{
      margin: 3px 0;
    }

    .item-list{
      margin: 3px 0;
    }
  }

  .mobile-target:last-child{
    >div{
      padding-top: 2rem;
      border-top: 1px solid #36404a;
    }
  }

  .mobile-target{
    margin-top: 2rem;


    .skill-img{
      width: 25%;
    }

    .item-img{
      width: 16.6%;
      // border-top: 0;
    }

    .skill-img:first-child{
      border-left: 0;
    }
    .skill-img:last-child{
      border-right: 0;
    }

    .btn-lg{
      margin: 1rem 0;
    }

    .btn-group{
      width: 100%;
      margin-top: 1rem;

      button:first-child{
        border-left: 0;
      }
      button:last-child{
        border-right: 0;
      }
      // button{
      //   border-bottom: 0;
      // }
    }
  }

  .build-right{
    text-align: right;

    @media (max-width: 999.98px) {
      text-align: center;
    }
  }

  .build-left{
    text-align: left;

    @media (max-width: 999.98px) {
      text-align: center;
    }
  }
}