.wrapper-jungle::after{
  content: "";
  // background: url('/images/jungle.jpg');
  // opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;

  box-shadow: inset 0px 0px 300px 50px black;
  background: #07382E;
  opacity: 1
}

@keyframes league-glow {
  0% {
    color: rgba(241,85,108, 0.2);
    box-shadow: 0 0 5px 0 rgba(241,85,108, 0.2);
  }
  100% {
    color: rgba(241,85,108, 1);
    box-shadow: 0 0 20px 10px rgba(241,85,108, 1);
  }
}

.jungle{
  margin-bottom: 180px;
  @media (max-width: 992px) {
    margin-bottom: 220px;
  }

  .league-challenge{
    animation: 1s league-glow infinite;
  }

  .gank-button{
    background-color: rgba(54, 64, 74, 0.9);
  }

  .btn {
    background: 0 !important;
  }

  .btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }

  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }

  .btn-danger {
    color: #f1556c;
    background: rgba(241,85,108, 0.2) !important;
  }

  .btn-warning {
    color: #f7b84b;
    background: rgba(247, 184, 75, 0.2) !important;
  }

  .btn-boss{
    color: rgb(241, 151, 18) !important;
    background: rgba(241, 151, 18, 0.2) !important;
    border-color: rgb(241, 151, 18) !important;
  }

  .card-box{
    background-color: rgba(54, 64, 74, 0.3);
    padding: 0;
    margin-bottom: 3rem;
  }
}

.jungle-header{
  .previous-tier{
    max-width: 30px;
    filter: grayscale(100%);
  }
  .current-tier{
    max-width: 30px;
  }
  .next-tier{
    max-width: 30px;
    opacity: 0.5;
  }
  .ranking{
    img{
      width: 60px;
      border: 1px solid;
      border-image-source: radial-gradient(white, rgb(47, 60, 74));
      border-image-slice: 1;
    }
  }
}

.hero-review{
  .previous-tier{
    width: 10%;
    filter: grayscale(100%);
  }
  .current-tier{
    width: 15%;
  }
  .next-tier{
    width: 10%;
    opacity: 0.5;
  }
  .ranking{
    img{
      width: 60px;
      border: 1px solid;
      border-image-source: radial-gradient(white, rgb(47, 60, 74));
      border-image-slice: 1;
    }
  }

  .hero-card{
    height: 450px;

    .performance{
      background-color: rgba(54, 64, 74, 0.8);
    }
  }

  .collection{
    background-color: rgba(54, 64, 74, 0.5);

    .card-header{
      background-color: rgba(54, 64, 74, 0.5);
    }
    .avatar{
      max-width: 100%;
    }
    .blank-avatar{
      filter: grayscale(100%);
    }
    .league-logo{
      width: 25px;
      height: auto;
      margin-top: -30px
    }
    .current .avatar{
      border: 3px solid white !important;
    }
  }
}