.jungle{
  margin-bottom: 180px;

  @media (max-width: 992px) {
    margin-bottom: 220px;
  }

  .gank-button{
    background-color: rgba(54, 64, 74, 0.9);
  }

  .btn {
    background: 0 !important;
  }

  .btn-success {
    color: #1abc9c;
    background: rgba(26,188,156, 0.2) !important;
  }

  .btn-primary {
    color: #3bafda;
    background: rgba(59,175,218, 0.2) !important;
  }

  .btn-danger {
    color: #f1556c;
    background: rgba(241,85,108, 0.2) !important;
  }

  .btn-warning {
    color: #f7b84b;
    background: rgba(247, 184, 75, 0.2) !important;
  }

  .btn-boss{
    color: rgb(241, 151, 18) !important;
    background: rgba(241, 151, 18, 0.2) !important;
    border-color: rgb(241, 151, 18) !important;
  }

  .gank-tab a.active{
    border: 2px solid #1abc9c !important;
  }
  .meditation-tab a.active{
    border: 2px solid #3bafda !important;
  }
  .mine-tab a.active{
    border: 2px solid #f7b84b !important;
  }
}

.jungle-header{
  .previous-tier{
    max-width: 35px;
    filter: grayscale(100%);
  }
  .current-tier{
    max-width: 50px;
  }
  .next-tier{
    max-width: 35px;
    opacity: 0.5;
  }
  .nav-link{
    color: #8a929a;
    text-align: center;
    line-height: 1.4;
  }
  .nav-link:hover{
    color: #3bafda;
  }
  .pve-info{
    text-align: center;
    line-height: 0.8;
    border: 1px solid;
    padding: 1rem;
    margin: -2px;

    small{
      font-size: 0.9rem;
    }
  }
  .ranking{
    img{
      width: 60px;
      border: 1px solid;
      border-image-source: radial-gradient(white, rgb(47, 60, 74));
      border-image-slice: 1;
    }
  }
}

.farm-tabs{
  .nav-link h2{
    line-height: 1.4;
  }
}

.farming-bg{
  background: 0;
  width: 100%;
  min-height: 700px;
  border: 2px solid rgba(206, 212, 218, 0.2);
  border-top: 0;

  .table{
    background-color: rgba(54, 64, 74, 0.8);
  }

  .farming-history{
    max-height: 500px;
    overflow: auto;
  }

  .card-box {
    background-color: rgba(54, 64, 74, 0.8);
  }
}

.mining-bg{
  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 16px;
    background: #f7b84b;
    border-radius: 10px;
  }
}

.hero-review{
  .previous-tier{
    width: 10%;
    filter: grayscale(100%);
  }
  .current-tier{
    width: 15%;
  }
  .next-tier{
    width: 10%;
    opacity: 0.5;
  }
  .ranking{
    img{
      width: 60px;
      border: 1px solid;
      border-image-source: radial-gradient(white, rgb(47, 60, 74));
      border-image-slice: 1;
    }
  }

  .hero-card{
    .card-body{
      padding: 0;

      img{
        max-width: 100%;
        max-height: 500px;
      }
    }

    .skills-container{
      max-width: 400px;
    }

    .items-container{
      max-width: 200px;
    }

    .performance{
      background-color: rgba(54, 64, 74, 0.8);
    }
  }

  .collection{
    background-color: rgba(54, 64, 74, 0.5);

    .card-header{
      background-color: rgba(54, 64, 74, 0.5);
    }
    .avatar{
      max-width: 100%;
    }
    .blank-avatar{
      filter: grayscale(100%);
    }
    .league-logo{
      width: 25px;
      height: auto;
      margin-top: -30px
    }
    .current .avatar{
      border: 3px solid white !important;
    }
  }
}
