.ranking{
  .skill-img{
    width:23%;
    max-width: 80px;
    margin: 1px;
  }

  .item-img{
    width: 50px;
    margin: 1px;
    background: black;
  }

  
}


.hall-of-fame{
  .h5{
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}
