.season{

  .h5{
    line-height: 1.5rem;
    margin-bottom: 0;
  }

  .hero-card{
    min-height: 400px;
  }

  .updates{
    height: 410px;
    overflow: auto;
  }

  .messages{
    height: 300px;
    overflow: auto;
  }

  .ranking{
    .skill-img{
      width:23%;
      max-width: 80px;
      margin: 1px;
    }

    .item-img{
      width: 50px;
      margin: 1px;
      background: black;
    }
    
  }

}
