.tavern{


  .avatar{
    filter: grayscale(100%);
  }

  .avatar.current{
    filter: unset !important;
    border-image-source: radial-gradient(white, white);
  }

  .hero-card{
    .card-body{
      background-color: initial !important;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80%;
      min-height: 400px;

      .name{
        background-color: rgba(54, 64, 74, 0.8);
      }
      .ultimate{
        background-color: rgba(54, 64, 74, 0.8);
        float: right;
        padding: 0px 20px;
        border-bottom-left-radius: 10px;
      }
    }
    .description{
      min-height: 50px
    }
  }

  .account-level-bar{
    width:100%;
    height:15px;
    margin-top:11px;
  }
}