.user-profile{

  .account-level-bar{
    width:100%;
    height:25px;
    margin-top:11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .hero-card{
    min-height: 500px;
  }

  .featured-hero{
    .card{
      margin-bottom: 0;
    }
  }

  .current-featured .avatar{
    border: 3px solid white !important;
  }

  .collection{
    .avatar{
      max-width: 100%;
    }
    .blank-avatar{
      filter: grayscale(100%);
    }
    .league-logo{
      max-width: 25px;
      height: auto;
      margin-top: -30px
    }
  }

  .arena-picks{

    .avatar{
      max-width: 100px;
    }
    .league-logo{
      max-width: 50px;
      height: auto;
      max-height: 25px;
      position: absolute;
      top: 70%;
      left: 40%;
    }
  }
}