.user-profile{

  .pve-rank{
    max-height: 40px;
  }

  .pvp-rank{
    max-height: 120px;
  }

  .hero-card{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 370px;
  }

  .featured-hero{
    .card{
      margin-bottom: 0;
    }
  }

  .current-featured .avatar{
    border: 3px solid white !important;
  }

  .avatar.max-farm{
    border: 1px solid red;
  }

  .collection{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 55vh;

    .card-body{
      padding-bottom: -1rem;
    }
    .avatar{
      max-width: 100%;
    }
    .blank-avatar{
      filter: grayscale(100%);
    }
    .league-logo{
      max-width: 25px;
      height: auto;
      margin-top: -30px
    }
  }

  .bot-ranking{
    .card-body{
      max-height: 720px !important;
    }
  }

  .ranking{
    margin-bottom: 0;

    .card-body{
      padding: 0 !important;
      max-height: 93vh;
      overflow: auto;

      thead th {
        position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
        position: sticky;
        top: 0;
        z-index: 1;
        background: #414d59;
        border-top: 0;
        padding: 0.7rem;
      }

      tfoot th{
        position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
        position: sticky;
        bottom: 0;
        z-index: 1;
        background: #3a454f;
        border-top: 0;
        padding: 0.75rem;
        vertical-align: middle;
      }
    }

    .pvp-rank{
      max-height: 50px;
    }
  }


  .duels{
    height: 64vh;
    overflow: auto;

    h5{
      margin: 0;
    }

    .pvp-rank{
      max-height: 40px;
      margin-right: 0.5rem;
    }

    .opponent{
      font-weight: bold;
      font-size: 1rem;
    }

    .avatar{
      max-width: 100px;
    }
    .league-logo{
      max-width: 50px;
      height: auto;
      max-height: 25px;
      position: absolute;
      top: 70%;
      left: 40%;
    }
  }
}

.bot-profile{

  .duels{
    max-height: 39.5vh;
  }
}
