<div class="row mt-5">
    <div class="col">
        <div class="card-box text-center m-5">
            <h2>You have a pending battle, please finish it by clicking below:</h2>
            <div class="row">
                <div class="col-6 margin-auto">
                    <a href="/battles/<%=@battle.id%>" class="btn btn-primary btn-block btn-lg m-1 mt-3"><i class="fa fa-sword"></i> Finish Battle</a>
                </div>
            </div>
        </div>
    </div>
</div>
